.pageFooter {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

  rect {fill: lightblue; stroke: black; }

  h1 {
    text-align: center;
  }